@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html{
  box-sizing: border-box;
}
body{
background-color:white;
}
#canvas {
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}
.card{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;

}
.card button {
  height:30px;
  width:30px;
  visibility: hidden;
}
h1{
color:"";
font-size:70px;
font-family: '';
}
h3{
  color:black;
  font-size:30px;
  font-family: '';
  visibility: visible;
}
 .ball {
   
  margin-top:20px;
  height:400px;
  width:400px;
  background-color:rgb(165, 161, 161);
  border-radius:50%;
  perspective: 1200px;
  perspective-origin: 50% 50%;
 /*background-image:url("https://www.holidify.com/images/bgImages/PAHALGAM.jpg");*/
 background-image:"";
 background-size: cover;
transition:2s;
  background-size:auto 100%;
  animation:move-eye-skew 1s ease-in infinite;
  cursor:pointer;
  
}

 .ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(94, 91, 91, 0) 58%);
  filter: blur(50px);
  z-index: 2;
}
 .ball:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(circle at 50% 30%, rgba(245, 237, 48, 0), rgba(200, 190, 20, 0.2) 50%, #575300 100%);
}
.ball .shadow {

  position: absolute;
  width: 100%;
  height: 130%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}
.confetti{
  position: absolute;
  height:50px;
  width:20px;
  color:red;
  top:0;
  transform:top(50%);
  transition:2s;
}
h2{
  font-size:50px;
  visibility: hidden;
}
@keyframes move-eye-skew {
  0% {
   
    opacity:0.8;
  }
  50% {
    
    opacity:1;
  }
   100% {
    
    opacity:0.8;

  }
}

